
.relations-frame {
    width:1250px;
}
.relations-frame .search {
    width:250px;
}
.js_show-next-hidden-block {
    font-weight: bold;
    font-size: 20px;
}
.js_show-next-hidden-block .show-subtitle {
    font-weight: initial;
    font-style: italic;
    color: blue;
    display: inline;
    font-size: 11px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    min-width: 250px;
}
